body {
}

.container {
    /*font-size: ;*/
}

.jumbotron {
    /*padding: 2rem 1rem;
    margin-bottom: 1rem;
    border-radius: .3rem;*/
    background-color: lightgray;
}

.footer-text {
    color: gray;
}

.panel-footer {
    background-color: #222;
}

    .panel-footer a {
        padding: 10px;
    }
